<div>
    <h2 id="page-heading">
        <span>User States</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-state-livex" [routerLink]="['/user-state-livex/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User State
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userStates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Value</span></th>
            <th><span>Date</span></th>
            <th><span>User Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userState of userStates ;trackBy: trackId">
                <td><a [routerLink]="['/user-state-livex', userState.id, 'view' ]">{{userState.id}}</a></td>
                <td>{{userState.state}}</td>
                <td>{{userState.value}}</td>
                <td>{{userState.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="userState.userProfileId">
                        <a [routerLink]="['../user-profile-livex', userState.userProfileId , 'view' ]" >{{userState.userProfileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-state-livex', userState.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-state-livex', userState.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-state-livex/'+ userState.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
