<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userState">
            <h2><span>User State</span> {{userState.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{userState.state}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{userState.value}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{userState.date}}</span>
                </dd>
                <dt><span>User Profile</span></dt>
                <dd>
                    <div *ngIf="userState.userProfileId">
                        <a [routerLink]="['/user-profile-livex', userState.userProfileId, 'view']">{{userState.userProfileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-state-livex', userState.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
